kind: Service
apiVersion: v1
metadata:
  name: tfaas-service
spec:
  selector:
    app: tfaas
  ports:
  - protocol: TCP
    name: tfaas
    port: 8083
    targetPort: 8083
    nodePort: 8083
  type: LoadBalancer
  externalIPs:
  - {{ master_ip }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tfaas-deployment
  labels:
    app: tfaas
spec:
  template:
    metadata:
      labels:
        app: tfaas
    spec:
      containers:
      - name: tfaas
        imagePullPolicy: Always
        image: veknet/tfaas 
        livenessProbe:
          exec:
            command:
            - curl
            - -f
            - http://localhost:8083/models
          initialDelaySeconds: 300
          periodSeconds: 60
        ports:
        - containerPort: 8083
        volumeMounts:
        - mountPath: /data/TFaaS/src/Go/models
          name: nfs
      volumes:
      - name: nfs
        hostPath: 
          path: /pv

  selector:
    matchLabels:
      app: tfaas

  replicas: 2

